// Montserrat ====================================================================

@font-face
{
    font-family: "montserrat";
    src: url(../fonts/Montserrat/montserrat-light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face
{
    font-family: "montserrat";
    src: url(../fonts/Montserrat/montserrat-regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face
{
    font-family: "montserrat";
    src: url(../fonts/Montserrat/montserrat-medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face
{
    font-family: "montserrat";
    src: url(../fonts/Montserrat/montserrat-semibold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face
{
    font-family: "montserrat";
    src: url(../fonts/Montserrat/montserrat-bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face
{
    font-family: "montserrat";
    src: url(../fonts/Montserrat/montserrat-black.ttf) format("truetype");
    font-weight: 800;
    font-style: normal;
}